{%extends 'main/base.html'%}
{%block title%}Хуйч{%endblock%}
{%block content%}
<br>
<br>
<br>
<div align='center'>
<h1>Новая крутая(нет) имэджборда!</h1>
<h4>Чтобы постить тут, создайте тред в разделе <a href='/b/'>Бред</a> или отвечайте на существующие сообщения.<br><br>
Ссылка на пост создается в виде: >>*№поста*.<br><br>
Борда поддерживает одну картинку на пост.<br><br>
Лимит тредов 20 штук, по 100 сообщений в каждом, после 100 сообщений тред не поднимается.</h4>
</div>
<br>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>
<br>
<br>

<br>


{%endblock%}